* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    height: 720px;
}

main a {
    text-decoration: none;
}



/* ======================= */
/* start left-main content */
.left-main {
    margin-top: 200px;
    margin-left: 30px;
}

.left-main p {
    font-size: 28px;
    width: 500px;
    margin-left: 3px;
    margin-top: 10px;
}
/* end left-main content */



/* ======================== */
/* start right-main content */
.right-main {
    border: 1px solid white;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 140px;
    margin-left: 120px;
    height: 320px;
    box-shadow: -2px 5px 10px 1px #d3d3d3;
}

.input-main-1, .input-main-2 {
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #d6d6d6;
    font-size: 16px;
    width: 340px;
    outline: none;
}

.input-main-2 {
    margin-top: 15px;
}

.btn-main-1 {
    margin-top: 15px;
    padding: 14px;
    border-radius: 7px;
    border: 1px solid #1877F2;
    width: 372px;
    background-color: #1877F2;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.btn-main-1:hover {
    background-color: #1c70df;
}

.link-main-1 {
    color: #1877F4;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link-main-1:hover {
    text-decoration: underline;
}

.right-main hr {
    margin-top: 20px;
    opacity: 0.4;
}

.btn-main-2 {
    margin-top: 10px;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #42B72A;
    width: 160px;
    background-color: #42B72A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 110px;
}

.btn-main-2:hover {
    background-color: #37a820;
}

.text-main-1 {
    margin-top: 50px;
    font-size: 14px;
}

.text-main-1 a:hover {
    text-decoration: underline;
}

.text-main-1 a {
    color: black;
    font-weight: bold;
    margin-left: 40px;
}
/* end right-main content */



/* ==================== */
/* start footer website */
.footer {
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    font-size: 12px;
}

.footer a {
    text-decoration: none;
    color: #8b8b8b;
    margin-right: 15px;
}

.footer hr {
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer p {
    color: #636363;
}

.link_footer {
    line-height: 20px;
}
/* end footer website */